<!DOCTYPE html>
<html lang="en">
<head>
  <title>Магазин комплектующих ПК</title>
  <link rel="stylesheet" type="text/css" href="../css/cooler.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Магазин комплектующих БНК</h1>
    <nav>
      <ul>
        <li><a href="../../home.html">Главная</a></li>
        <li><a href="../../components.html">Комплектующие</a></li>
        <li><a href="../../contact.html">Контакты</a></li>
        <li><a href="../../basket.html">Корзина</a></li>
      </ul>
    </nav>
  </header>
  
  <section class="product-list">
    <h2>Кулеры:</h2>
    <div class="product">
      <img src="../img_3/cooler/DEEPCOOL AG200.png" alt="DEEPCOOL AG200">
      <h3>1 399&#8381;</h3>
      <p>Кулер для процессора DEEPCOOL AG200</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
        <img src="../img_3/cooler/DEEPCOOL AG300 MARRS.png" alt="DEEPCOOL AG300 MARRS">
        <h3>1 399&#8381;</h3>
        <p>Кулер для процессора DEEPCOOL AG300 MARRS</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/cooler/DEEPCOOL GAMMAXX 300 R [LGA1700].png" alt="DEEPCOOL GAMMAXX 300 R [LGA1700]">
        <h3>1 199&#8381;</h3>
        <p>Кулер для процессора DEEPCOOL GAMMAXX 300 R</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/cooler/DEEPCOOL GAMMAXX 300B [LGA1700].png" alt="DEEPCOOL GAMMAXX 300B [LGA1700]">
        <h3>1 199&#8381;</h3>
        <p>Кулер для процессора DEEPCOOL GAMMAXX 300B</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/cooler/DEEPCOOL Ice Blade 100 [LGA1700].png" alt="DEEPCOOL Ice Blade 100 [LGA1700]">
        <h3>1 199&#8381;</h3>
        <p>Кулер для процессора DEEPCOOL Ice Blade 100</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/cooler/ID-COOLING SE-903-SD.png" alt="ID-COOLING SE-903-SD">
        <h3>1 099&#8381;</h3>
        <p>Кулер для процессора ID-COOLING SE-903-SD</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/cooler/ID-COOLING SE-903-XT.png" alt="ID-COOLING SE-903-XT">
        <h3>1 450&#8381;</h3>
        <p>Кулер для процессора ID-COOLING SE-903-XT</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
  </section>

  <footer>
    <p>&copy; 2023 Магазин комплектующих для ПК. Все права защищены.</p>
  </footer>
</body>

</html>