<!DOCTYPE html>
<html lang="en">
<head>
  <title>Магазин комплектующих ПК</title>
  <link rel="stylesheet" type="text/css" href="../css/hardrive.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Магазин комплектующих БНК</h1>
    <nav>
      <ul>
        <li><a href="../../home.html">Главная</a></li>
        <li><a href="../../components.html">Комплектующие</a></li>
        <li><a href="../../contact.html">Контакты</a></li>
        <li><a href="../../basket.html">Корзина</a></li>
      </ul>
    </nav>
    <nav>
      <img class="logo" src="img/Logo.png" width="100">
    </nav>
  </header>
  
  <section class="product-list">
    <h2>Жесткие диски:</h2>
    <div class="product">
      <img src="../img_3/hardrave/WD Blue [WD10EZEX].png" alt="WD Blue [WD10EZEX]">
      <h3>5 699&#8381;</h3>
      <p>1 ТБ Жесткий диск WD Blue</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
      <img src="../img_3/hardrave/WD Blue [WD20EZAZ].png" alt="WD Blue [WD20EZAZ]">
      <h3>7 599&#8381;</h3>
      <p>2 ТБ Жесткий диск WD Blue</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
        <img src="../img_3/hardrave/WD Purple [WD10PURZ].png" alt="WD Purple [WD10PURZ]">
        <h3>5 699&#8381;</h3>
        <p>1 ТБ Жесткий диск WD Purple</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/hardrave/WD Purple [WD40PURZ].png" alt="WD Purple [WD40PURZ]">
        <h3>12 999&#8381;</h3>
        <p>4 ТБ Жесткий диск WD Purple</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/hardrave/WD Purple Surveillance [WD10EJRX].png" alt="WD Purple Surveillance [WD10EJRX]">
        <h3>5 699&#8381;</h3>
        <p>1 ТБ Жесткий диск WD Purple Surveillance </p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/hardrave/WD Red IntelliPower [WD20EFAX].png" alt="WD Red IntelliPower [WD20EFAX]">
        <h3>7 899&#8381;</h3>
        <p>2 ТБ Жесткий диск WD Red IntelliPower</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/hardrave/WD Red Plus [WD20EFZX].png" alt="WD Red Plus [WD20EFZX]">
        <h3>8 999&#8381;</h3>
        <p>Процессор Intel Core i7-11700F OEM </p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
  </section>

  <footer>
    <p>&copy; 2023 Магазин комплектующих для ПК. Все права защищены.</p>
  </footer>
</body>

</html>