<!DOCTYPE html>
<html lang="en">
<head>
  <title>Магазин комплектующих ПК</title>
  <link rel="stylesheet" type="text/css" href="../css/motherboard.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Магазин комплектующих БНК</h1>
    <nav>
      <ul>
        <li><a href="../../home.html">Главная</a></li>
        <li><a href="../../components.html">Комплектующие</a></li>
        <li><a href="../../contact.html">Контакты</a></li>
        <li><a href="../../basket.html">Корзина</a></li>
      </ul>
    </nav>
    <nav>
      <img class="logo" src="img/Logo.png" width="100">
    </nav>
  </header>
  
  <section class="product-list">
    <h2>Материнские платы:</h2>
    <div class="product">
      <img src="../img_3/motherboard/ASRock_B550M_Phantom_Gaming_4.png" alt="ASRock_B550M_Phantom_Gaming_4">
      <h3>11 199&#8381;</h3>
      <p>Материнская плата ASRock B550M Phantom Gaming 4</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
      <img src="../img_3/motherboard/ASRock_B660M_Steel_Legend.png" alt="ASRock_B660M_Steel_Legend">
      <h3>9 999&#8381;</h3>
      <p>Материнская плата ASRock B660M Steel Legend</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
        <img src="../img_3/motherboard/ASUS_PRIME_B450-PLUS.png" alt="ASUS_PRIME_B450-PLUS">
        <h3>9 099&#8381;</h3>
        <p>Материнская плата ASUS PRIME B450-PLUS</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/motherboard/GIGABYTE_B550M_K.png" alt="GIGABYTE_B550M_K">
        <h3>9 499&#8381;</h3>
        <p>Материнская плата GIGABYTE B550M K</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/motherboard/GIGABYTE_H610M_H.png" alt="GIGABYTE_H610M_H">
        <h3>8 099&#8381;</h3>
        <p>Материнская плата GIGABYTE H610M H</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/motherboard/GIGABYTE_X570S_UD.png" alt="GIGABYTE_X570S_UD">
        <h3>9 099&#8381;</h3>
        <p>Материнская плата GIGABYTE X570S UD</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/motherboard/MSI_MAG_B660M_MORTAR.png" alt="MSI_MAG_B660M_MORTAR">
        <h3>11 199&#8381;</h3>
        <p>атеринская плата MSI MAG B560M MORTAR</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
  </section>

  <footer>
    <p>&copy; 2023 Магазин комплектующих для ПК. Все права защищены.</p>
  </footer>
</body>

</html>