<!DOCTYPE html>
<html lang="en">
<head>
  <title>Магазин комплектующих ПК</title>
  <link rel="stylesheet" type="text/css" href="../css/power_unit.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Магазин комплектующих БНК</h1>
    <nav>
      <ul>
        <li><a href="../../home.html">Главная</a></li>
        <li><a href="../../components.html">Комплектующие</a></li>
        <li><a href="../../contact.html">Контакты</a></li>
        <li><a href="../../basket.html">Корзина</a></li>
      </ul>
    </nav>
    <nav>
      <img class="logo" src="img/Logo.png" width="100">
    </nav>
  </header>
  
  <section class="product-list">
    <h2>Блоки питания:</h2>
    <div class="product">
      <img src="../img_3/power_unit/AeroCool Cylon 600W.png" alt="AeroCool Cylon 600W">
      <h3>4 499&#8381;</h3>
      <p>Блок питания AeroCool Cylon 600W</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
      <img src="../img_3/power_unit/Aerocool MIRAGE GOLD 650W.png" alt="Aerocool MIRAGE GOLD 650W">
      <h3>7 399&#8381;</h3>
      <p>Блок питания Aerocool MIRAGE GOLD 650W</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
        <img src="../img_3/power_unit/Cougar Auric 650.png" alt="Cougar Auric 650">
        <h3>5 199&#8381;</h3>
        <p>Оперативная память Apacer Panther 16 ГБ</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/power_unit/Cougar XTC ARGB 600.png" alt="Cougar XTC ARGB 600">
        <h3>7 799&#8381;</h3>
        <p>Блок питания Cougar Auric 650</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/power_unit/Thermaltake Smart RGB 600W.png" alt="Thermaltake Smart RGB 600W">
        <h3>5 299&#8381;</h3>
        <p>Блок питания Thermaltake Smart RGB 600W</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/power_unit/Thermaltake Smart RGB 700W.png" alt="Thermaltake Smart RGB 700W">
        <h3>5 599&#8381;</h3>
        <p>Блок питания Thermaltake Smart RGB 700W</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/power_unit/Xilence Gaming Gold Series XN335.png" alt="Xilence Gaming Gold Series XN335">
        <h3>7 599&#8381;</h3>
        <p>Блок питания Xilence Gaming Gold Series XN335</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
  </section>

  <footer>
    <p>&copy; 2023 Магазин комплектующих для ПК. Все права защищены.</p>
  </footer>
</body>

</html>