<!DOCTYPE html>
<html lang="en">
<head>
  <title>Магазин комплектующих ПК</title>
  <link rel="stylesheet" type="text/css" href="../css/processors.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Магазин комплектующих БНК</h1>
    <nav>
      <ul>
        <li><a href="../../home.html">Главная</a></li>
        <li><a href="../../components.html">Комплектующие</a></li>
        <li><a href="../../contact.html">Контакты</a></li>
        <li><a href="../../basket.html">Корзина</a></li>
      </ul>
    </nav>
  </header>
  
  <section class="product-list">
    <h2>Процессоры:</h2>
    <div class="product">
      <img src="../img_3/processors/i3-12100F_OEM.png" alt="i3-12100F_OEM">
      <h3>8 899&#8381;</h3>
      <p>Процессор Intel Core i3-12100F OEM</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
      <img src="../img_3/processors/i5-12400F_OEM.png" alt="i5-12400F_OEM">
      <h3>15 899&#8381;</h3>
      <p>Процессор Intel Core i5-12400F OEM</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
        <img src="../img_3/processors/i7-12700_OEM.png" alt="i7-12700_OEM">
        <h3>31 999&#8381;</h3>
        <p>Процессор Intel Core i7-12700 OEM </p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/processors/i9-12900KF_OEM.png" alt="i9-12900KF_OEM">
        <h3>45 999&#8381;</h3>
        <p>Процессор Intel Core i9-12900KF OEM </p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/processors/R3-1200_OEM.png" alt="R3-1200_OEM">
        <h3>3 499&#8381;</h3>
        <p>Процессор AMD Ryzen 3 1200 OEM</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/processors/R5-4500_OEM.png" alt="R5-4500_OEM">
        <h3>8 299&#8381;</h3>
        <p>Процессор AMD Ryzen 5 4500 OEM</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/processors/R7-5700G_OEM.png" alt="R7-5700G_OEM">
        <h3>19 399&#8381;</h3>
        <p>Процессор AMD Ryzen 7 5700G OEM</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/processors/R9-3900X_OEM.png" alt="R9-3900X_OEM">
        <h3>17 899&#8381;</h3>
        <p>Процессор AMD Ryzen 9 3900 OEM </p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
  </section>

  <footer>
    <p>&copy; 2023 Магазин комплектующих для ПК. Все права защищены.</p>
  </footer>
</body>

</html>