<!DOCTYPE html>
<html lang="en">
<head>
  <title>Магазин комплектующих ПК</title>
  <link rel="stylesheet" type="text/css" href="../css/RAM.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Магазин комплектующих БНК</h1>
    <nav>
      <ul>
        <li><a href="../../home.html">Главная</a></li>
        <li><a href="../../components.html">Комплектующие</a></li>
        <li><a href="../../contact.html">Контакты</a></li>
        <li><a href="../../basket.html">Корзина</a></li>
      </ul>
    </nav>
  </header>
  
  <section class="product-list">
    <h2>Оперативная память:</h2>
    <div class="product">
      <img src="../img_3/RAM/ADATA_XPG_Hunter.png" alt="ADATA_XPG_Hunter">
      <h3>4 199&#8381;</h3>
      <p>Оперативная память ADATA XPG Hunter 8ГБ</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
      <img src="../img_3/RAM/G.Skill_RIPJAWS_V.png" alt="G.Skill_RIPJAWS_V.png">
      <h3>3 799&#8381;</h3>
      <p>Оперативная память G.Skill RIPJAWS V 2x8ГБ</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
        <img src="../img_3/RAM/Kingston_FURY_Beast_Black.png" alt="Kingston_FURY_Beast_Black">
        <h3>4 599&#8381;</h3>
        <p>Оперативная память Kingston FURY Beast Black 16ГБ</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/RAM/Kingston_FURY_Beast_Black_RGB.png" alt="Kingston_FURY_Beast_Black_RGB">
        <h3>9 599&#8381;</h3>
        <p>МОперативная память Kingston FURY Beast Black RGB 16ГБ </p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/RAM/Netac_Shadow_II.png" alt="RAM/Netac_Shadow_II">
        <h3>4 499&#8381;</h3>
        <p>Оперативная память Netac Shadow II 16ГБ</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/RAM/Patriot_Viper_4_Blackout.png" alt="Patriot_Viper_4_Blackout">
        <h3>4 699&#8381;</h3>
        <p>Оперативная память Patriot Viper 4 Blackout 2x8ГБ</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/RAM/Thermaltake_TOUGHRAM.png" alt="hermaltake_TOUGHRAM">
        <h3>6 999&#8381;</h3>
        <p>Оперативная память Thermaltake TOUGHRAM 2x8ГБ</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
  </section>

  <footer>
    <p>&copy; 2023 Магазин комплектующих для ПК. Все права защищены.</p>
  </footer>
</body>

</html>