<!DOCTYPE html>
<html lang="en">
<head>
  <title>Магазин комплектующих ПК</title>
  <link rel="stylesheet" type="text/css" href="../css/videocard.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>Магазин комплектующих БНК</h1>
    <nav>
      <ul>
        <li><a href="../../home.html">Главная</a></li>
        <li><a href="../../components.html">Комплектующие</a></li>
        <li><a href="../../contact.html">Контакты</a></li>
        <li><a href="../../basket.html">Корзина</a></li>
      </ul>
    </nav>
  </header>
  
  <section class="product-list">
    <h2>Видеокарты:</h2>
    <div class="product">
      <img src="../img_3/videocards/INNO3D_RTX3090_iCHILL_X4.png" alt="INNO3D_RTX3090_iCHILL_X4">
      <h3>125 999&#8381;</h3>
      <p>Видеокарта INNO3D GeForce RTX 3090 iCHILL X4</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
      <img src="../img_3/videocards/INNO3D_RTX4080_iCHILL_X3.png" alt="INNO3D_RTX4080_iCHILL_X3">
      <h3>144 499&#8381;</h3>
      <p>Видеокарта INNO3D GeForce RTX 4080 iCHILL X3</p>
      <a href="#" class="product-button">Добавить в корзину</a>
    </div>
    <div class="product">
        <img src="../img_3/videocards/KFA2_RTX4060_X_White.png" alt="KFA2_RTX4060_X_White">
        <h3>39 999&#8381;</h3>
        <p>Видеокарта KFA2 GeForce RTX 4060 X White</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/videocards/KFA2_RTX4070_X_3FAN_Pink.png" alt="KFA2_RTX4070_X_3FAN_Pink">
        <h3>76 299&#8381;</h3>
        <p>Видеокарта KFA2 GeForce RTX 4070 X 3FAN Pink</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/videocards/MSI_RTX4060Ti_GAMING_X_TRIO.png" alt="MSI_RTX4060Ti_GAMING_X_TRIO">
        <h3>51 499&#8381;</h3>
        <p>Видеокарта MSI GeForce RTX 4060 Ti GAMING X TRIO</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/videocards/Palit_RTX4060_Dual.png" alt="Palit_RTX4060_Dual">
        <h3>34 999&#8381;</h3>
        <p>Видеокарта Palit GeForce RTX 4060 Dual</p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>
      <div class="product">
        <img src="../img_3/videocards/Palit_RTX4070Ti_GamingPro.png" alt="Palit_RTX4070Ti_GamingPro">
        <h3>98 299&#8381;</h3>
        <p>Видеокарта Palit GeForce RTX 4070 Ti GamingPro </p>
        <a href="#" class="product-button">Добавить в корзину</a>
      </div>

  </section>

  <footer>
    <p>&copy; 2023 Магазин комплектующих для ПК. Все права защищены.</p>
  </footer>
</body>

</html>